html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font: 16px/1 sans-serif;
    margin: 0;
}

a,
button,
dd,
dl,
dt,
h1,
h2,
h3,
input[type=button],
input[type=submit],
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-size: inherit;
}

strong {
    font-weight: bold;
}

a,
button,
input[type=button],
input[type=submit] {
    color: inherit;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

button,
input[type=button],
input[type=submit] {
    -webkit-font-smoothing: inherit;
    background: none;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    margin: 2px;
    overflow: visible;
    padding: 5px 15px;
}

button:focus,
input[type=button]:focus,
input[type=submit]:focus {
    outline: none;
}