@{
    ViewBag.Title = "Multipage image generator";
}

<section class="container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "image-upload", enctype = "multipart/form-data" }))
    {
        <section class="panel">
            <h1>Image archiver</h1>
            <h3 data-bind="visible: hasImages()">No images added yet...</h3>
            <table data-bind="foreach: images">
                <tr>
                    <td class="file-name" data-bind="text: name"></td>
                    <td class="control"><button data-bind="click: $root.removeImage">Remove</button></td>
                </tr>
            </table>
        </section>
        <input accept=".bmp, .gif, .jpg, .jpeg" data-bind="event: { change: addImages($element) }" id="files" type="file" multiple/>
        <label class="big-btn" for="files">Add</label>
        <input class="big-btn" type="submit" value="Archive" disabled/>
    }
</section>

<script src="~/Public/dist/ImageForm.js" type="text/javascript"></script>